{% extends "flask_user_layout.html" %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
  <li class="breadcrumb-item active">All Books</li>
{% endblock %}


{% block page_content %}

{#
  NOTE: One has to use namespaces to keep a variable from reverting inside a loop
  https://stackoverflow.com/questions/9486393/jinja2-change-the-value-of-a-variable-inside-a-loop
#}

  {% set ns = namespace(previousCategory='') %}
  {% for book in books %}
     {% if ns.previousCategory != book.Category.description %}
         <h2> {{book.Category.description}}</h2>
     {% endif %}
    <div>
    {{ book.Book.title}} -- {{ book.Book.author}} <a href="{{ url_for('edit_book', bookID=book.Book.id) }}">Edit...</a>
    </div>
    {% set ns.previousCategory = book.Category.description %}

  {% endfor%}

  {% if ns.previousCategory == '' %}
  <h2>The DB Is Empty: Have You Seeded It?</h2>
  {% endif %}






{% endblock %}
