{% extends "flask_user_layout.html" %}


{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('home') }}">Homex</a></li>
<li class="breadcrumb-item active">New Book</li>
{% endblock %}



{% block page_content %}
<div class="row">
  <div class="col-sm-7 col-md-6 col-lg-5 col-centered">
    <h1>{%trans%}Edit Book{%endtrans%}</h1>
    {% if updated == True %}
      <h2>The book "{{book.title}}" has been successfully updated</h2>
    {%endif%}
    <form method="post" class="form">

      <input type="hidden" name="id" value="{{book.id}}" >
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label>Author</label>
          </div>
        </div>
        <input type="text" name="author" required value="{{book.author}}" class="form-control">
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label>Title</label>
          </div>
        </div>
        <input type="text" name="title" required  value="{{book.title}}" class="form-control">
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label>isbn</label>
          </div>
        </div>
        <input type="text" name="isbn" required value="{{book.isbn}}" class="form-control">
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label>Description</label>
          </div>
        </div>
        <textarea name="description" required class="form-control"  >{{book.description}}</textarea>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label>Category</label>
          </div>
        </div>
        <input list="categories" value="{{book.category.description}}"  name="category" class="form-control">
        <datalist id="categories" >
          {% for category in categories %}
                 <option value="{{category.description}}">
          {% endfor%}
        </datalist>
      </div>
      <div>
        <input type="submit" class="btn btn-default btn-primary">
      </div>
    </form>
  </div>
</div>
{% endblock %}
