<!DOCTYPE HTML>
<html>

<head>
    <title>REST</title>
    <script>
        function apiReq() {
            var reqObj = new Object();
            reqObj.username = document.getElementById('username').value;
            reqObj.password = document.getElementById('password').value;
            reqObj.email = document.getElementById('email').value;
            reqObj.firstname = document.getElementById('firstname').value;
            reqObj.lastname = document.getElementById('lastname').value;
            console.log("This is the object that is being sent to the server (BEFORE its converted to JSON):", reqObj)
            console.log("This is the object that is being sent to the server (AFTER  its converted to JSON):", JSON.stringify(reqObj))
            console.log("This is it's type:", typeof (JSON.stringify(reqObj)))

            fetch('/api/users', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'Access-Control-Origin': '*'
                },
                body: JSON.stringify(reqObj),
                //credentials: "same-origin"
                credentials: "include"
            })
                .then((response) => {
                    return response.json();
                })
                .then((resp) => {
                    console.log("This is the object that is being returned from the server (after it has been converted from JSON three lines up)", resp)
                    hint = JSON.parse(JSON.stringify(resp));
                })
                .catch((err) => {
                    // Code called when an error occurs during the request
                    alert('Error: ' + err.message);
                });

        }

        //curl -u miguel:python -i -X GET http://127.0.0.1:5000/api/resource
        function resource() {
            console.log("in resource...");
            let username = 'miguel';
            let password = 'opensesame';
            fetch('/api/resource', {
                method: "GET"
                ,
                headers: {
                    "Content-Type": "text/plain",
                    'Authorization': 'Basic ' + btoa(username + ":" + password),
                },
                //credentials: "same-origin"
                credentials: "include"
            })
                .then((response) => {
                    return response.json();
                })
                .then((resp) => {
                    console.log(resp)
                })
                .catch((err) => {
                    // Code called when an error occurs during the request
                    alert('Error: ' + err.message);
                });
        }

        var tokenGlobal = "";

        function getToken() {
            console.log("in resource...");
            let username = 'miguel';
            let password = 'opensesame';
            fetch('/api/token', {
                method: "GET"
                ,
                headers: {
                    "Content-Type": "text/plain",
                    'Authorization': 'Basic ' + btoa(username + ":" + password),
                },
                //credentials: "same-origin"
                credentials: "include"
            })
                .then((response) => {
                    return response.json();
                })
                .then((resp) => {
                    console.log(resp)
                    tokenGlobal = resp.token
                    console.log(tokenGlobal)
                })
                .catch((err) => {
                    // Code called when an error occurs during the request
                    alert('Error: ' + err.message);
                });
        }

        

        function useToken() {
            console.log("in resource...");
            let username = tokenGlobal;
            let password = 'unused';
            fetch('/api/resource', {
                method: "GET"
                ,
                headers: {
                    "Content-Type": "text/plain",
                    'Authorization': 'Basic ' + btoa(username + ":" + password),
                },
                //credentials: "same-origin"
                credentials: "include"
            })
                .then((response) => {
                    return response.json();
                })
                .then((resp) => {
                    console.log(resp)
                })
                .catch((err) => {
                    // Code called when an error occurs during the request
                    alert('Error: ' + err.message);
                });
        }

    </script>
</head>

<body>
    <h2>TEST APIcccccc </h2>
    <h3>To see what's going on make sure u have a console open</h3>
    <hr>
    Create a user in the db (use username: miguel, passowrd: opensesame)<br>
    This user might already be in the db.<br>
    Username: <input type="text" id="username">
    Password: <input type="text" id="password">
    Email: <input type="text" id="email" >
    Firstname: <input type="text" id="firstname">
    Lirstname: <input type="text" id="lastname">
    <button onclick="apiReq()">Make API Request to api/users</button>
    <hr>
    When the below button is pressed it sends sends username "miguel" password: "opensesame"
    which are hardcoded in the fetch request to the server.  The server responds with
    a json<br>
    /api/resource <br>
    <button onclick="resource()">api\resource</button>
    <hr>
    When the following button is pressed the fetch sends miguel opensesame credentials to
    the server and the server responds with a token<br>
    <button onclick="getToken()">api\token</button>
    <hr>
    Making request to /resource using token that was returned from
    above get token request.  Notice that we are still accessing /api/resource as in
    api\resource call above.  But this time we use username = token and password = whatever (
        the password is ignored)
    ) <br>
    <button onclick="useToken()">api\resource using token</button>

</body>

</html>
